{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'assets/images/favicon.ico' %}">

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>Job Portal</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header style="position: absolute; top: 0px;">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index">
          <h2>Job Portal <em>Website</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
    </nav>
  </header>



  <div class="col-md-12" style="margin-top:100px;">
    <div class="row">

      {% for i in job %}

      <div class="col-md-6">
        <div class="product-item">
          <div class="down-content">
            <a href="job-details">
              <h4>{{ i.post}}</h4>
            </a>

            <h6>INR {{i.salary}}</h6>
            <h4>{{ i.description}}</h4>
            <h4><small><strong><i class="fa fa-building"></i>
                  {{ i.recruiter}}</strong></small></h4>

            <small>

              &nbsp;&nbsp;&nbsp;&nbsp;

              <strong title="Location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ i.location}}</strong>
            </small>
            <button class="btn" onclick="location.href='job-details?jobid={{i.id}}'">View Applicants</button>
          </div>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
  </div>
  </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <!-- Additional Scripts -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/owl.js' %}"></script>
</body>

</html>